swagger: '2.0'
info:
  title: Bandwidth API
  description: The bandwidth application platform specification
  termsOfService: https://catapult.inetwork.com/pages/tos/termsOfService.jsf
  contact:
    name: API Support
    url: https://catapult.inetwork.com/pages/contact.jsf
    email: openapi@bandwidth.com
  version: 1.0.0
host: api.catapult.inetwork.com
basePath: /v1
securityDefinitions:
  basicAuth:
    type: basic
    description: HTTP Basic Authentication. Works over `HTTP` and `HTTPS`
schemes:
  - https
produces:
  - application/json
paths:
  /users/{userId}/account:
    get:
      security:
        - basicAuth: []
      parameters:
        - name: userId
          in: path
          description: Id of the user you want account information for
          type: string
          required: true
      responses:
        200:
          description: account information
          schema:
            $ref: '#/definitions/Account'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'

definitions:
  Account:
    type: object
    properties:
      balance:
        type: string
        description: The current amount money you have to spend, in US dollars
      accountType:
        type: string
        description: How payments for your account are done
        enum:
          - Pre-paid
          - Post-paid
  ErrorModel:
    type: object
    properties:
      category:
        type: string
      code:
        type: string
      message:
        type: string
      details:
        type: array
        items:
          type: object
          properties:
            name:
              type: string
            value:
              type: string
